<div class="footer">
    <div class="footercontainer">
       
            <!-- Footer Location-->
            <div>
                <p class="lead">
                    정우 블로그
                    <br/>
                    포트폴리오 사이트  
                    <div style="text-align: right;">     
                        <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/profile.php?id=100007975114511"><i class="fab fa-fw fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/go8690"><i class="fab fa-fw fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/jungwoo-lee-807a10182/"><i class="fab fa-fw fa-linkedin-in"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/leejungwu"><i class="fab fa-fw fa-github"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://ljw538.tistory.com/"><i class="fab fa-fw fa-tumblr"></i></a>
                    </div>
                    <br />
                    개발,공부,경험,생각 정리하는 공간
                </p>
            </div>        
    </div> 
</div>
