<div class="footer">
    <div class="footercontainer">
       
            <!-- Footer Location-->
            <div>
                <p class="lead">
                    Location
                    <br/>
                    경상북도 경산시 진량읍 공단9로12길 25 (신제리 557) (재)경북IT융합산업기술원           
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/leejungwu"><i class="fab fa-fw fa-github"></i></a>
                    <br />
                    우편번호 38463
                </p>
            </div>        
    </div> 
</div>
