<div class="footer">
    <div class="footercontainer">
            <div>
                <p class="lead">
                    <div>정우 블로그</div>
                    <div style="text-align:left;">
                        포트폴리오 사이트
                        <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/profile.php?id=100007975114511" style="float:right;"><i class="fab fa-fw fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/go8690" style="float:right;"><i class="fab fa-fw fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/jungwoo-lee-807a10182/" style="float:right;"><i class="fab fa-fw fa-linkedin-in"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/leejungwu" style="float:right;"><i class="fab fa-fw fa-github"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://ljw538.tistory.com/" style="float:right;"><i class="fab fa-fw fa-tumblr"></i></a>
                    </div>
                    <div> 
                        개발,공부 정리하는 공간
                    </div>
                </p>
            </div>        
    </div> 
</div>
