<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <style>
      h2 {
        text-align: center;
      }
      h4 {
        text-indent: 20px;
      }
    </style>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">About</h2>

      <div>
        <h4>이정우</h4>
        <ul style="list-style-type:circle">
          <li>1995.1.11</li>
          <li>2021년 대구가톨릭대학교 졸업</li>
          <li>ㅁㄴㅇㄹ</li>
          <li>aaa
            <ul>
              <li>bbb</li>
              <li>ccc</li>
              <li>ddd</li>
            </ul>
          </li>
        </ul>
      </div>
        
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
