<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <style>
      h2 {
        text-align: center;
      }
      h4 {
        text-indent: 20px;
      }
    </style>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">About</h2>

      <div>
        <h4>경북IT융합산업기술원</h4>
        <ul style="list-style-type:circle">
          <li>우리 기술원은 경북 및 경산지역 기업들을 위한 기술개발과 사업지원을 하기 위하여 설립된 비영리 재단법인입니다.</li>
          <li>현재 우리 기술원은 IT기술, 스마트센서기술 및 각종 SW기술 등을 중점적으로 개발하고 있으며, 앞으로 미래자율주행차, 스마트팩토리, 의료 그리고 디지털뷰티 분야로 연구를 확대할 계획입니다.</li>
          <li>본 기술원이 자리하고 있는 이곳 경산은 2,922여개(종업원 36,000명)의 기업과 12개의 대학, 12만명의 젊은 인재가 함께 어우러져 있는 산학연구도시입니다.</li>
          <li>aaa
            <ul>
              <li>bbb</li>
              <li>ccc</li>
              <li>ddd</li>
            </ul>
          </li>
        </ul>
      </div>
        
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
